body {
	font: 400 13px/21px 'Montserrat', sans-serif;
	color: #4a4d56;
}
/****wrapper****/
.wrapper {
	width: 100%;
	background: url("images/bg1.jpg") transparent no-repeat;
	background-size: cover;
}
/*------headerContainer------*/
.headerContainer {
	padding: 15px 0;
	width: 100%;
	overflow: hidden;
}
.headerInner {
	width: 1170px;
	margin: 0 auto;
	border-bottom: 1px solid #324c94;
	overflow: hidden;
}
#logo {
	width: 184px;
	height: 36px;
	background: url("images/logo.png") transparent no-repeat 0 0;
	display: block;
	float: left;
}
.hdRight {
	float: right;
}
.mainNavRight {
	float: right;
}
.navbar {
	margin: 0;
}
.navbar .nav>li {
	float: left;
}
.headerContainer .navbar ul.nav > li > a {
	font-size: 13px;
	color: #fff;
	text-decoration: none;
	line-height: 32px;
	padding: 0 10px;
	text-transform: uppercase;
	font-weight: normal;
}
.headerContainer .navbar ul.nav > li > a:hover {
	color: #ffa800;
}
.navbar .navbar-inner >ul>li>a.nav-solid {
	margin: 0 2px;
	    margin-top: 5px;
}
.navbar .navbar-inner >ul>li>a.login {
	margin-right: 10px;
	padding: 1px 32px;
	min-height: 30px;
	border: 1px solid #fff;
	color: #fff;
	border-radius: 20px;
}
.navbar .navbar-inner >ul>li>a.signup {
	padding: 2px 28px;
	background: #ffa800;
	color: #fff;
	border-radius: 20px;
}
.navbar .navbar-inner >ul>li>a.login:hover {
	background: #ffa800;
	color: #fff;
	border-radius: 20px;
}
.navbar .navbar-inner >ul>li>a.signup:hover {
	padding: 1px 27px;
	background: none;
	border: 1px solid #fff;
	color: #fff;
	border-radius: 20px;
}
.nav>li>a:hover, .nav>li>a:focus {
	background: none;
}
/*bannerContainer*/
.bannerContainer {
	width: 100%;
	overflow: hidden;
}
.bannerInner {
	width: 1170px;
	margin: 0 auto;
	background: url("images/bn-bg.png") transparent no-repeat right top;
	padding-right: 500px;
}
.bannerInner h3 {
	display: inline-block;
	width: 100%;
	color: #fff;
	font-size: 36px;
	font-weight: 400;
	text-align: left;
	margin: 0;
	line-height: 50px;
	padding: 56px 0 34px;
	text-transform: uppercase;
}
.bannerInner p {
	display: inline-block;
	width: 100%;
	color: #fff;
	font-size: 14px;
	line-height: 23px;
	font-weight: 400;
	text-align: left;
	margin: 0;
	margin-bottom: 52px;
}
.bannerInner a {
	display: inline-block;
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	margin: 0;
	margin-bottom: 100px;
	text-transform: uppercase;
	padding: 13px 51px;
	background: #ffa800;
	text-decoration: none;
	border-radius: 30px;
}
.bannerInner a:hover {
	border: 1px solid #fff;
	background: none;
}
/*startedContainer*/
.startedContainer {
	width: 100%;
	background: #040f30;
	min-height: 227px;
}
.startedInner {
	width: 1170px;
	margin: 0 auto;
	position: relative;
}
.ctn-started {
	width: 100%;
	position: absolute;
	margin-top: -56px;
}
.started-row {
	float: left;
	background: #183484;
	border-radius: 40px;
	width: 22%;
	margin-right: 4%;
	text-align: center;
}
.started-title {
	background: #ffa800;
	width: 100%;
	padding: 19px 0;
	border-radius: 40px 40px 0 0;
}
.started-title h1 {
	font-size: 16px;
	color: #fff;
	margin: 0;
	text-transform: uppercase;
	text-align: center;
}
.started-part2 {
}
.started-part3 .started-title {
	background: #ff5400;
	padding: 19px 30px 37px;
}
.started-part3 .started-title h1 {
	float: left;/* text-align: center; */
}
.started-part3 .started-title span {
	background: #fff;
	color: #ff5400;
	float: left;
	border-radius: 10px;
	font-size: 10px;
	margin-left: 6px;
	padding: 1px 10px;
}
.started-part4 {
	float: right;
	margin-right: 0;
}
.started-row h3 {
	font-size: 24px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	padding-bottom: 10px;
	padding-top: 15px;
	line-height:32px;
}
.started-row h3 span {
	font-size: 18px;
}
.started-row a {
	border-radius: 20px;
	border: 1px solid #fff;
	padding: 9px 39px;
	color: #fff;
	font-size: 16px;
	text-decoration: none;
	text-transform: uppercase;
}
.started-row a:hover {
	background: #ffa800;
	color: #fff;
}
.started-row p {
	color: #fff;
	font-size: 14px;
	padding: 20px 0;
	text-transform: uppercase;
}
/*investmentContainer*/
.investmentContainer {
	width: 100%;
	background: #fff;
	padding: 60px 0;
	overflow: hidden;
}
.investmentInner {
	width: 1170px;
	margin: 0 auto;
}
.ctn-inves-row {
	width: 100%;
	text-align: center;
}
.ctn-inves-row h1 {
	font-size: 30px;
	color: #ffa800;
	text-transform: uppercase;
	margin: 0;
	font-weight: 700;
}
.ctn-inves-row p {
	font-size: 16px;
	color: #454852;
	margin: 0;
	padding: 30px 0;
}
.ctn-Instant {
	width: 25%;
	float: left;
	padding: 120px 15px 0;
}
.Instant-part1 {
	background: url("images/ctn-tf1.png") transparent no-repeat center top 40px;
}
.Instant-part2 {
	background: url("images/ctn-tf2.png") transparent no-repeat center top 40px;
}
.Instant-part3 {
	background: url("images/ctn-tf3.png") transparent no-repeat center top 40px;
}
.Instant-part4 {
	background: url("images/ctn-tf4.png") transparent no-repeat center top 40px;
}
.ctn-Instant h1 {
	color: #444957;
	font-size: 16px;
	font-weight: 700;
	margin: 0;
	text-align: center;
	padding-bottom: 20px;
	text-transform: uppercase;
}
.ctn-Instant p {
	color: #4a4d56;
	font-size: 12px;
	font-weight: 400;
	margin: 0;
	text-align: center;
	padding-bottom: 20px;
}
/*contentTopContainer*/
.contentTopContainer {
	width: 100%;
	padding: 38px 0;
	overflow: hidden;
	background: #edeff0;
}
.contentTopInner {
	width: 1170px;
	margin: 0 auto;
}
.ctn-forexrial {
	width: 55%;
	float: left;
}
.ctn-forexrial h1 {
	font-size: 18px;
	margin: 0;
	color: #2649ac;
	margin: 0;
	text-transform: uppercase;
	padding-top: 15px;
	padding-bottom: 30px;
}
.ctn-forexrial p {
	font-size: 12px;
	color: #444957;
	margin: 0;
	line-height: 22px;
	text-align: justify;
	padding-bottom: 15px;
}
.ctn-company {
	width: 40%;
	float: right;
	background: url("images/ctn-bg1.png") transparent no-repeat center top;
}
.company-part1 {
	width: 100%;
	position: relative;
}
.company-part1 .company-col1 {
	width: 50%;
	padding: 20px 20px;
	float: left;
}
.company-part1 .company-col1 a img {
	margin: 10px 0;
}
.company-part1 .company-col2 {
	position: absolute;
	top: 30px;
	right: 20px;
}
.company-part2 {
	width: 100%;
	background: #ffa800;
	overflow: hidden;
	padding: 18px 0;
}
.company-part2 h1 {
	font-size: 12px;
	color: #fff;
	text-align: left;
	text-transform: uppercase;
	padding-left: 20px;
	line-height: 30px;
	margin: 0;
}
.company-part2 h1 span {
	font-size: 24px;
}
.company-row1 {
	background: rgba(18, 96, 151, 0.82);
	border-radius: 4px;
}
.company-row2 {
	background: rgba(20, 184, 109, 0.85);
	border-radius: 4px;
	margin-right: none;
}
.company-row3 {
	background: rgba(20, 184, 109, 0.86);
	border-radius: 4px;
}
.company-row4 {
	background: rgba(18, 96, 151, 0.86);
	border-radius: 4px;
	margin-right: none;
}
/*contentMidContainer*/
.contentMidContainer {
	width: 100%;
	padding: 60px 0;
	overflow: hidden;
	background: #fff;
}
.contentMidInner {
	width: 1170px;
	margin: 0 auto;
}
.ctn-mid-row {
	width: 25%;
	padding-left: 60px;
	float: left;
}
.ctn-mid-row1 {
	background: url("images/ctn-ic1.png") transparent no-repeat center left;
}
.ctn-mid-row2 {
	background: url("images/ctn-ic2.png") transparent no-repeat center left;
}
.ctn-mid-row3 {
	background: url("images/ctn-ic3.png") transparent no-repeat center left;
}
.ctn-mid-row4 {
	background: url("images/ctn-ic4.png") transparent no-repeat center left;
}
.ctn-mid-row h3 {
	text-align: left;
	font-size: 30px;
	text-transform: uppercase;
	color: #2649ac;
	margin: 0;
	font-weight: 700;
}
.ctn-mid-row p {
	text-align: left;
	font-size: 14px;
	margin: 0;
	color: #4a4d56;
}
/*contentBotContainer*/
.contentBotContainer {
	width: 100%;
	background: url("images/bg2.jpg") transparent no-repeat center;
	background-size: cover;
	padding: 27px 0 80px;
	overflow: hidden;
}
.contentBotInner {
	width: 1170px;
	margin: 0 auto;
}
.ctn-affili-title {
	width: 100%;
	background: url("images/ctn-icon1.png") transparent no-repeat center top;
	padding-top: 85px;
	padding-bottom: 52px;
	overflow: hidden;
	text-align: center;
}
.ctn-affili-title h3 {
	font-size: 30px;
	color: #ffa800;
	margin: 0;
	font-weight: 700;
	text-transform: uppercase;/* padding: 0 20px 0 300px; */
}
.ctn-affili-title p {
	font-size: 14px;
	color: #fff;
	margin: 0;
	padding-top: 37px;
	line-height: 30px;
	text-align: center;
}
.ctn-start {
	width: 45%;
	float: left;
}
.ctn-start h1 {
	font-size: 24px;
	color: #fff;
	margin: 0;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 40px;
	text-align: left;
	padding-bottom: 20px;
}
.ctn-start p {
	color: #fff;
	font-size: 12px;
	line-height: 25px;
	margin: 0;
	text-align: left;
	padding-bottom: 45px;
}
.ctn-start a {
	padding: 14px 39px;
	border-radius: 20px;
	background: #f9a401;
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-size: 16px;
}
.ctn-start a:hover {
	background: #e2ae4a;
}
.ctn-affiliate {
	width: 50%;
	float: right;
	overflow: hidden;
}
.affiliate-row1 {
	width: 100%;
	padding: 11px 0;
	overflow: hidden;
	position: relative;
}
.affiliate-part1 {
	width: 100%;
	background: #081330;
}
.affiliate-part1 .ctn-part-title {
	width: 70%;
	background: #142758;
	overflow: hidden;
}
.affiliate-part1 .ctn-part-title p {
	font-size: 18px;
	float: left;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	margin: 0;
	padding: 41px 0px;
}
.affiliate-part1 .ctn-part-title h1 {
	color: #ffa800;
	font-size: 72px;
	font-weight: 700;
	margin: 0;
	float: left;
	padding: 14px 39px;
}
.ctn-position {
	position: absolute;
	right: 45px;
	top: 0;
}
.affiliate-row2 {
	width: 100%;
	padding: 25px 0;
	overflow: hidden;
	position: relative;
}
.ctn-position2 {
	position: absolute;
	left: 25px;
	top: 10px;
}
.affiliate-part2 .ctn-part-title2 {
	width: 70%;
	float: right;
	background: #142758;
	overflow: hidden;
}
.affiliate-part2 .ctn-part-title2 p {
	font-size: 18px;
	float: right;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	margin: 0;
	padding: 41px 10px;
}
.affiliate-part2 .ctn-part-title2 h1 {
  color: #ffa800;
  float: left;
  font-size: 70px;
  font-weight: 700;
  margin: 0;
  padding: 14px 10px;
}
.affiliate-part2 {
	width: 100%;
	background: #081330;
	overflow: hidden;
}
/*footerContainer*/
.footerContainer {
	width: 100%;
	background: #fff;
	padding: 37px 0;
	overflow: hidden;
}
.footerInner {
	width: 1170px;
	margin: 0 auto;
}
.ft-row1 {
	width: 25%;
	float: left;
}
.ft-logo {
	width: 181px;
	height: 36px;
	background: url("images/ft-logo.png") transparent no-repeat 0 0;
	background-size: contain;
	display: block;
	float: left;
	margin-bottom:15px;
}
.ft-row1 h3 {
	font-size: 12px;
	width: 100%;
	color: #4e4f58;
	display: inline-block;
}
.ft-part1 {
	width: 18.5%;
	float: left;
}
.ft-part1 h1 a {
	margin-top: -18px;
}
.ft-part1 h1 {
	width: 100%;
	margin: 0;
	display: inline-block;
	color: #2d3f6d;
	font-size: 14px;
	text-transform: uppercase;
	padding: 10px 0;
	font-weight: 700;
}
.ft-part1 ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.ft-part1 ul li a {
	font-size: 12px;
	color: #616775;
}
.ft-part1 ul li a.face {
	padding-left: 25px;
	background: url("images/ft-face.png") transparent no-repeat left;
}
.ft-part1 ul li a.twitter {
	padding-left: 25px;
	background: url("images/ft-twi.png") transparent no-repeat left;
}
.ft-part1 ul li a.google {
	padding-left: 25px;
	background: url("images/ft-yt.png") transparent no-repeat left;
}
.ft-logo2 {
	width: 140px;
	height: 42px;
	background: url("images/ft-logo2.png.html") transparent no-repeat 0 0;
	background-size: contain;
	display: block;
	float: left;
}
@media (max-width: 1170px) {
.wrapper, .headerContainer, .bannerContainer, .startedContainer, .investmentContainer, .contentTopContainer, .contentMidContainer, .contentBotContainer, .footerContainer {
	width: 1170px !important;
}
.headerInner, .bannerInner, .startedInner, .investmentInner, .contentTopInner, .contentMidInner, .contentBotInner, .footerInner {
	margin: 0 !important;
}
}
/*banner*/
.bannerContainer, .inside_wrap {
	width: 100%;
	overflow: hidden;
	padding: 35px 0 55px;
}
.inside_wrap {
	border-bottom: 1px solid #ececec;
}
.bannerinsideInner, .inside_inner {
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
	top: 0;
}
.bannerinsideInner h2 {
	color: #fff;
	font-size: 30px;
	font-weight: 600;
	margin: 0;
	text-transform: uppercase;
}
.content_blocks {
  background: #f9f9f9 none repeat scroll 0 0;
  border: 1px solid #e5e5e5;
  border-radius: 30px;
  float: left;
  margin: 25px 0 0;
  padding: 25px;
  width: 100%;
}
.image_left {
	float: left;
	width: 23%;
}
.image_left.right {
	text-align: right;
}
.content_right {
	float: left;
	width: 77%;
}
.content_right h2.header-section {
	color: #2649ac;
	font-size: 18px;
	margin: 0;
	padding-bottom: 30px;
	padding-top: 15px;
	text-transform: uppercase;
}
.investment {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	margin: 70px 0 0;
}
.calculator_wrap {
	background: #142758 none repeat scroll 0 0;
	float: left;
	margin: 16px 0 0;
	padding: 20px;
	width: 46%;
}
.calculator_wrap h2 {
	color: #ffa800;
	text-transform: uppercase;
}
.calculator_wrap table td {
	border: medium none;
	color: #fff;
	padding: 5px;
}
.calculator_wrap table td select, .calculator_wrap table td input {
	background: #ffa800 none repeat scroll 0 0;
	border: 1px solid #ffa800;
	color: #fff;
	height: 40px;
	padding: 5px 8px;
	width: 100%;
	border-radius: 4px;
}
.contactusblockleft {
	width: 47.5%;
	float: left;
}
.contactusblockright {
	width: 47.5%;
	float: right;
}
.mapcontainer {
	padding: 20px;
	border: 1px solid #e5e5e5;
	background: #f9f9f9;
}
.addresscontainer {
	background: #142758;
	color: #fff;
	padding: 20px;
	margin: 0 0 25px;
}
.addresscontainer h2 {
	color: #ffa800;
	text-transform: uppercase;
}
.addresscontainer span {
	display: block;
	margin: 0 0 12px;
}
.addresscontainer h4 {
	color: #fff;
	margin: 0;
	text-transform: uppercase;
}
.contact_form {
	background: #142758;
	color: #fff;
	padding: 20px;
}
.contact_form table td {
	border: none;
	color: #fff;
}
.affliateblock {
	width: 100%;
	float: left;
	margin: 40px 0;
}
.affliateblock li {
	width: 48%;
	margin: 0 1%;
	border: 1px solid #e5e5e5;
	padding: 20px;
	text-align: center;
	float: left;
	background: #f9f9f9;
}
.affliateblock li .thblock {
	width: 100%;
	float: left;
}
.affliateblock li .thcontent {
	width: 100%;
	float: left;
}
.affliateblock li .thcontent h4 {
	color: #2649ac;
	font-size: 18px;
	margin: 0;
	padding-bottom: 15px;
	padding-top: 30px;
	text-transform: uppercase;
}
.affliateblock li .thcontent p {
	min-height: 64px;
}
.form-container.user {
	width: 100%;
	padding: 45px 0 55px;
	overflow: hidden;
	border-bottom: 1px solid #ececec;
}
.form-container.user form {
	width: 600px;
	max-width: 600px;
	margin: 0 auto;
	background: #2649ac;
	border-radius: 30px;
	padding: 20px;
	color: #fff;
}
.form-container.user form table td {
	border: none;
	color: #fff;
}
.form-container.user form table td h5 {
	background: #ff5400 none repeat scroll 0 0;
	border-radius: 20px 20px 0 0;
	color: #fff;
	font-size: 15px;
	margin: 8px 0;
	padding: 12px 20px 10px;
	text-transform: uppercase;
	font-weight: 600;
}
input[type="text"], input[type="email"], input[type="password"] {
	background: #ffa800;
	border: 1px solid #ffa800;
	height: 34px;
	padding: 0 10px;
	width: 100%;
	border-radius: 4px;
	color: #fff;
}
textarea {
	background: #ffa800;
	border: 1px solid #ffa800;
	max-height: 120px;
	padding: 0 10px;
	width: 100%;
	border-radius: 4px;
	color: #fff;
	resize: none;
}
input[type="submit"],input[type="button"] {
	background: #ffa800;
	border-radius: 30px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	text-align: center;
	padding: 0 50px;
	height: 36px;
	border: 1px solid #ffa800;
}
input[type="submit"]:hover, input[type="button"]:hover  {
	background: #ffa800;
	border: 1px solid #fff;
}
.news_block {
	background: #f9f9f9 none repeat scroll 0 0;
	border: 1px solid #e5e5e5;
	float: left;
	margin-bottom: 35px;
	padding: 25px 25px 25px 230px;
	position: relative;
	width: 100%;
}
.news_block:before {
	content: "";
	position: absolute;
	left: 20px;
	top: 20px;
	width: 174px;
	height: 174px;
	background: url("images/misc/news_icon.png") no-repeat left top;
}
.news_block .news_title {
	color: #2649ac;
	float: left;
	font-size: 18px;
	margin: 0;
	padding-bottom: 30px;
	padding-top: 15px;
	text-transform: uppercase;
	width: 100%;
}
.news_block .news_infos {
	float: left;
	padding: 0 0 20px;
	width: 100%;
}
.news_block .news_time {
	color: #ffa800;
}
.login_redirect {
	background:#051C5F;
	color: #fff;
	font-size: 22px;
	font-weight: 600;
	text-transform: uppercase;
}
.login_redirect a {
	color: #ffa800;
}
.logo-container {
	padding: 100px 0 50px;
}
/*----My Account----*/

.member-container {
	float: left;
	width: 100%;
}
.membersidebar {
	float: left;
	width: 100%;
}
.membersidebar h5 {
	color: #ffa800;
	font-weight: 600;
	font-size: 22px;
}
.membersidebar ul {
	background: #ffa800 none repeat scroll 0 0;
	float: left;
	padding: 10px;
	text-align: center;
	width: 100%;
	border-radius: 30px;
}
.membersidebar ul li {
	border: 1px solid #fff;
	border-radius: 30px;
	display: inline-block;
	margin: 0 5px;
	transition: all 0.2s ease 0s;
}
.membersidebar ul li a {
	color: #fff;
	display: block;
	font-size: 15px;
	padding: 6px 14px;
	font-weight: 600;
}
.membersidebar ul li:hover {
	background: #fff;
	color: #ffa800;
}
.membersidebar ul li:hover a {
	color: #ffa800;
	text-decoration: none;
}
.member-right {
	float: left;
	margin: 20px 0 0;
	width: 100%;
}

.main_dash {
	float: left;
	padding: 20px;
	width: 100%;
	border: 1px solid #e5e5e5;
	border-radius: 30px;
}
.big-stats {
	float: left;
	width: 31.5%;
}
.user-right {
  float: left;
  margin: 0 3%;
  width: 31%;
}
.user-info {
	width: 31.5%;
	float: left;
}
.user-info div {
	border: 2px solid #ffa800;
	border-radius: 40px 0 0 40px;
	float: left;
	margin: 0 0 15px 0;
	padding: 10px 10px 0 90px;
	width: 100%;
}
.user-info p {
	margin: 0 0 5px;
	text-transform: capitalize;
}
.user-info h2 {
	color: #ffa800;
	font-size: 19px;
	margin: 0 0 10px;
	text-transform: capitalize;
}
.user-info div:last-child, .big-stats .balance:last-child {
	margin-right: 0px;
}
.user-info div.username {
	background: url("images/username.png") no-repeat 0 center;
}
.user-info div.registration {
	background: url("images/regdate.png") no-repeat scroll 0 center;
}
.user-info div.last-access {
	background: url("images/lastaccess.png") no-repeat scroll 0 center;
}
.detailed-stats {
	width:100%;
	float:left;
}
.detailed-stats .pull-left {
	width:48.5%;
	float:left;
}
.detailed-stats .pull-right {
	width:48.5%;
	float:right;
}
.big-stats .balance {
	border: 2px solid #ffa800;
	float: left;
	margin: 0 0 15px;
	padding: 10px 90px 0 10px;
	transition: all 0.2s ease 0s;
	width: 100%;
	border-radius: 0 35px 35px 0;
	text-align:right;
}
.big-stats .balance:hover, .aff_box:hover {
	border: 2px solid #ffa800;
}
.big-stats .balance p.big {
	color: #ffa800;
	font-size: 19px;
	margin: 0 0 10px;
	text-transform: capitalize;
}
.big-stats .balance p {
	margin: 0 0 5px;
	text-transform: capitalize;
}
.big-stats .balance.balance1 {
	background: url("images/misc/balance1-icon.png") no-repeat right center;
}
.big-stats .balance.balance2 {
	background: url("images/misc/balance2-icon.png") no-repeat right center;
}
.big-stats .balance.balance3 {
	background: url("images/misc/balance3-icon.png") no-repeat right center;
}
.aff_box {
	border: 2px solid #183484;
	border-radius: 30px;
	color: #183484;
	float: left;
	font-size: 16px;
	line-height: 45px;
	margin: 0 0 20px;
	padding: 0 30px 0 200px;
	transition: all 0.2s ease 0s;
	width: 100%;
	position: relative;
}
.aff_box::after {
	background: #183484 none repeat scroll 0 0;
	border-radius: 30px 0 0 30px;
	color: #fff;
	content: "Affiliate";
	font-size: 19px;
	left: -1px;
	position: absolute;
	text-align: center;
	top: 0;
	width: 200px;
}
.aff_box a {
	color: #183484;
	display: block;
	text-indent: 30px;
}
.aff_box:hover a {
	color: #ffa800;
}
.user-right a {
background: #051C5F;
    border: 0px;
    color: #fff;
    float: left;
    font-size: 16px;
    line-height: 45px;
    margin: 0 0 15px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    border-radius: 3px;
}
.user-right a:nth-child(2n) {
	margin-right: 0;
}
.user-right a:hover {
	background: #123086;
	color: #fffff;
	text-decoration:none;
}
.user-info table, .detailed-stats table, .my_accont table {
	border: 1px solid #e3e3e3;
	width: 100%;
}
.user-info table td, .detailed-stats table td, .my_accont table td {
	border: 1px solid #e3e3e3;
	font-size: 14px;
	padding: 8px;
	background: #fff;
}
.user-info table td strong, .detailed-stats table td strong, .my_accont td strong, .my_accont table td strong {
	font-weight: 700;
	color: #ffa800;
}
.user-info table tr:nth-child(even) td, .detailed-stats table tr:nth-child(even) td, .user-info table tr:hover td, .detailed-stats table tr:hover td, .my_accont table tr:nth-child(even) td, .my_accont table tr:hover td {
	background: #f8f8f8;
}
.my_accont input {
	width: 100%;
}
.my_accont input[type="submit"] {
	background:#2d3f6d;
	border:1px solid #2d3f6d;
}
.my_accont input[type="submit"]:hover {
	background:none;
	color:#2d3f6d;
}

.plan_boxes_infos_top .select_plan {
	position: absolute;
	right: 0;
	top: 30px;
}
.deposit_his_sel {
	background: #ffa800 none repeat scroll 0 0;
	border: medium none;
	border-radius: 2px;
	box-shadow: 0 0 2px 0 silver inset;
	color: #fff;
	font-size: 14px;
	height: 34px;
	margin: 0;
	padding: 0 6px;
	width: 27%;
	border-radius:4px;
}
.innercontainer .investment {
	width: 55%;
	float: left;
	margin: 0 5% 0 0;
}

.my_accont {
	background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #e5e5e5;
    border-radius: 30px;
    float: left;
    margin: 20px 0 0;
    padding: 25px;
    width: 100%;
}
.started-row input[type="radio"] {
  float: left;
  margin: 20px 0 10px;
  width: 100%;
}

.deposit_confirm {margin-bottom:10px;}

.aff-banners ul.nav-tabs{
	margin-bottom: 17px;
	border-bottom: 0;
	margin-top:20px;
}
.aff-banners .nav-tabs>li{
	margin-bottom: 0;
}
.aff-banners ul.nav-tabs>li>a{
    display: inline-block;
    line-height: 28px;
    border-radius: 30px;
    text-align: center;
    margin-right: 5px;
    padding: 0px 6px;
    color: #ffffff;
    background:#021A5A;
    border:0px;

}


.aff-banners ul.nav-tabs>li.active a {color:white;}

.aff-banners ul.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
	background:  #FFA800;
	color: #fff;
	border:0px;
}
.tab-content>.tab-pane{
	overflow: hidden;
}
.ab-tittle .aff-ctPart5-row2 p{
	width: initial;
}

.clear {clear:both;}

.aff-banners {margin-top:20px; clear:both;overflow:hidden;}

.aff-ctPart5-row1 {float:right; text-align:right; width:50%; margin-top: 21px;}

.aff-ctPart5-row2 {float:left; width:48%; margin-right:2%;}

.aff-ctPart5-row2 textarea {width:100%; height:80px;}
