/*FAQ*/
.heading-primary {
	font-size:2em;
	padding:2em;
	text-align:center;
}
.accordion dl, .accordion-list {
	border:0;
 &:after {
 content: "";
 display:block;
 height:1em;
 width:100%;
 background-color:darken(#38cc70, 10%);
}
}
.accordion dd, .accordion__panel {
	background-color:#f8f8f8;
	font-size:1em;
	line-height:1.5em;
}
.accordion p {
	padding:1em 2em 15px 1em;
}
.accordion {
	position:relative;
}
.container {
	max-width:960px;
	margin:0 auto;
	padding:2em 0 2em 0;
}
.accordionTitle, .accordion__Heading {
	border-radius:4px;
	font-size:14px;
	background-color:#ffa800;
	text-align:left;
	padding:1em 0;
	text-align:left;
	text-indent:0;
	display:block;
	text-decoration:none;
	color:#fff;
	transition:background-color 0.5s ease-in-out;
	margin-bottom:2px;
 &:before {
 content: "+";
 font-size:1.4em;
 line-height:0.5em;
 float:left;
 transition: transform 0.3s ease-in-out;
}
 &:hover {
 background-color:darken(#ffa800, 10%) !important;
 color:#fff !important
}
}
.accordionTitle:hover, .accordion__Heading:hover {
	background-color:#ffa800
}
.accordionTitle a:hover, .accordion__Heading a:hover {
	color:#fff !important
}
.accordionTitle:before, .accordion__Heading:before {
	background:url("images/faq_plus.html") no-repeat scroll left center;
	line-height: 20px;
	width:16px;
	height:16px;
	text-align: left;
	content: "";
	float: left;
	-webkit-transition: -webkit-transform 0.3s ease-in-out;
	transition: -webkit-transform 0.3s ease-in-out;
	transition: transform 0.3s ease-in-out;
	transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
	position:relative;
	top:2px;
	left:-18px;
}
.accordionTitleActive:before, .accordionTitle.is-expanded:before {
	background:url("images/faq_minus.html") no-repeat scroll left center;
	top:2px;
	content: "";
}
.accordionTitleActive, .accordionTitle.is-expanded {
	background-color:darken(#38cc70, 10%);
 &:before {
 transform:rotate(-225deg);
}
}
.accordionItem {
	height:auto;
	overflow:hidden;
 //SHAME: magic number to allow the accordion to animate max-height:50em;
	transition:max-height 1s;
 @media screen and (min-width:48em) {
 max-height:15em;
 transition:max-height 0.5s
}
}
.accordionItem.is-collapsed {
	max-height:0;
}
.no-js .accordionItem.is-collapsed {
	max-height: auto;
}
.animateIn {
	animation: accordionIn 0.3s normal ease-in both 1;
}
.animateOut {
	animation: accordionOut 0.3s alternate ease-in both 1;
}
@keyframes accordionIn {
 0% {
 opacity: 0;
 transform:scale(0.9) rotateX(-60deg);
 transform-origin: 50% 0;
}
 100% {
 opacity:1;
 transform:scale(1);
}
}
 @keyframes accordionOut {
 0% {
 opacity: 1;
 transform:scale(1);
}
 100% {
 opacity:0;
 transform:scale(0.9) rotateX(-60deg);
}
}
@media only screen  and (min-device-width: 768px)  and (max-device-width: 1024px)  and (orientation: landscape) {
.cd-tabs-content {
width: 76%
}
}
.accordion a:focus, .accordion a:hover {
	color: #fff !important;
	background:#2649ac;
	text-decoration: none !important;
}
.cd-tabs-navigation a:focus, .cd-tabs-navigation a:hover {
	text-decoration: none !important;
}
.thblock > p {
	border-bottom: 1px solid #ececec;
	padding-bottom: 25px;
	float:left;
	width:100%
}
.accordion dl:focus, .accordion dl a:focus {
	border:0px !important;
	outline:none !important
}
a.is-collapsed.is-expanded {
	background-color:#ffa800 !important
}
